div {
    border: 1px solid red;
}

.wrapper {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 7.5% 85% 7.5%;
    height: 80vh;
}

.title {
    background-color: rgb(54, 53, 53);
    grid-area: 1 / 1 / 2 / 4;
    color: white;
    font-family: 'Arial';
}

h3 {
    padding-left: 0.5em;
}

.shape-list {
    grid-area: 2 / 1 / 2 / 1;
    background-color: rgb(114, 109, 109);
    display: flex;
    flex-direction: column;
}

canvas {
    grid-area: 1 / 2 / 3 / 3;
}

.menu {
    grid-area: 2 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(114, 109, 109);
}